In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("airlines_reviews.csv")

In [3]:
copy = data.copy()

In [4]:
copy.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes

In [5]:
copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   8100 non-null   object
 1   Name                    8100 non-null   object
 2   Review Date             8100 non-null   object
 3   Airline                 8100 non-null   object
 4   Verified                8100 non-null   object
 5   Reviews                 8100 non-null   object
 6   Type of Traveller       8100 non-null   object
 7   Month Flown             8100 non-null   object
 8   Route                   8100 non-null   object
 9   Class                   8100 non-null   object
 10  Seat Comfort            8100 non-null   int64
 11  Staff Service           8100 non-null   int64
 12  Food & Beverages        8100 non-null   int64
 13  Inflight Entertainment  8100 non-null   int64
 14  Value For Money         8100 non-null   int64
 15  Overall Rating          8100 non-null   int64
 16  Recommended             8100 non-null   object
dtypes: int64(6), object(11)
memory usage: 1.1+ MB

In [6]:
copy["Recommended"].unique()

array(['yes', 'no'], dtype=object)

In [12]:
max(copy["Value For Money"])

5

In [13]:
copy["Reviews"]

0         Flight was amazing. The crew onboard this fl...
1         Booking an emergency exit seat still meant h...
2         Excellent performance on all fronts. I would...
3        Pretty comfortable flight considering I was f...
4        The service was consistently good from start ...
                              ...
8095      KE124, Brisbane to Incheon (A330) and KE867,...
8096      Our recent flight was our fourth trip to the...
8097      I flew Korean Air from Bali to Seoul in Pres...
8098      Seoul to Paris with Korean Air. I am traveli...
8099      The 13 hour flight in Business class from Se...
Name: Reviews, Length: 8100, dtype: object

In [14]:
copy["Title"]

0                         Flight was amazing
1       seats on this aircraft are dreadful
2               Food was plentiful and tasty
3               “how much food was available
4            “service was consistently good”
                        ...
8095                    an uneventful flight
8096             Korean Air always impresses
8097                   didn’t offer anything
8098         appreciated the service onboard
8099                genuinely friendly staff
Name: Title, Length: 8100, dtype: object